{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>Kirish</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">Foydalanuvchi</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Parol</label>
        <input class="form-control" name="password" type="password" required>
      </div>
      <button class="btn btn-primary">Kirish</button>
    </form>
  </div>
</div>
{% endblock %}
